Repository CS179K-Summer23/cs179-project-moviecritics, pull requests merged in 2023-08, with the labels that each got.

#42 Added script to migrate data from csv to sql.
  BackEnd/utility.py
Labels: BackEnd

#46 Added Table for revenue profits and released date
  BackEnd/movie_critics.py
  BackEnd/server.py
  FrontEnd/package.json
  FrontEnd/pages/Pagination.js
  FrontEnd/pages/main.js
Labels: FrontEnd, BackEnd

#48 Updated userSurvey
  FrontEnd/pages/UserSurvey.js
Labels: FrontEnd

#47 Basic Loginpage
  FrontEnd/pages/LoginPage.js
  FrontEnd/pages/launchpage.js
Labels: FrontEnd

#49 Age restriction
  BackEnd/server.py
  BackEnd/sort_by_release.py
  BackEnd/sort_genre_rank.py
  FrontEnd/pages/interestsFromSurvey.js
Labels: BackEnd

#63 A to Z list and backend for review
  BackEnd/movie_critics.py
  BackEnd/movie_list.py
  BackEnd/server.py
  FrontEnd/pages/Movies_list.js
Labels: FrontEnd, BackEnd

#64 watch & review button kinda works.
  FrontEnd/pages/MovieRating.js
  FrontEnd/pages/interestsFromSurvey.js
Labels: Actionable Tasks

#70 adding basic news feature
  BackEnd/news.py
  BackEnd/server.py
  FrontEnd/pages/homeaccount.js
Labels: FrontEnd, BackEnd

#67 Adding Account Authentication and backend for watched
  BackEnd/models.py
  BackEnd/server.py
  FrontEnd/pages/LoginPage.js
  FrontEnd/pages/UserSurvey.js
  FrontEnd/pages/accountCreation.js
  package.json
Labels: FrontEnd, BackEnd

#66 List sharing feature
  BackEnd/models.py
  BackEnd/server.py
  FrontEnd/pages/main.js
  FrontEnd/pages/thread.js
Labels: FrontEnd, BackEnd

#68 Profile page
  BackEnd/models.py
  BackEnd/server.py
  FrontEnd/pages/LoaderSuggestions.js
  FrontEnd/pages/LoginPage.js
  FrontEnd/pages/accountCreation.js
  FrontEnd/pages/index.js
  FrontEnd/pages/launchpage.js
  FrontEnd/pages/main.js
  FrontEnd/pages/profile.js
Labels: FrontEnd, BackEnd

#75 Changes related to watchlist.
  BackEnd/models.py
  BackEnd/server.py
  FrontEnd/package.json
  FrontEnd/pages/LoginPage.js
  FrontEnd/pages/MovieRating.js
  FrontEnd/pages/Movies_list.js
  FrontEnd/pages/launchpage.js
Labels: FrontEnd, BackEnd

#81 updatedMovieList + profile button + some improvements
  BackEnd/server.py
  FrontEnd/pages/Movies_list.js
  FrontEnd/pages/main.js
Labels: Actionable Tasks

#80 Recommendation algo
  BackEnd/movie_recommendation.py
  BackEnd/server.py
Labels: BackEnd
